<h1>プロフィール</h1>

<%= form_with model: @user, local: true do |f| %>
  <%= f.label :name, "名前" %>
  <%= f.text_field :name %>

  <%= f.label :image, "アイコン画像" %>
  <%= f.file_field :image %>

  <%= f.label :introduction, "自己紹介" %>
  <%= f.text_area :introduction %>

  <%= f.submit "保存" %>
<% end %>
<%= link_to "キャンセル", :back %>
