<%= render 'shared/account_menu' %>
<dl class="pt-10 m-auto pb-40 max-w-md text-gray-900 divide-y-4 divide-gray-200 dark:text-white dark:divide-gray-700 text-center">
  <div class="flex flex-col py-3">
    <dt class="mb-1 text-gray-500 md:text-lg dark:text-gray-800 text-left text-xl">プロフィール</dt>
  </div>
  <div class="flex flex-col pb-3">
    <dt class="mb-1 text-gray-500 md:text-lg dark:text-gray-400">アイコン画像</dt>
    <dd class="text-lg font-semibold  text-gray-800">
    <% if @user.image? %>
    <%= image_tag @user.image.thumb.url, class: "m-auto" %>
    <% else %>
    <%= image_tag ("noimage.png"), class: "m-auto" %>
    <% end %></dd>
  </div>
  <div class="flex flex-col py-3">
    <dt class="mb-1 text-gray-500 md:text-lg dark:text-gray-400">名前</dt>
    <dd class="text-lg font-semibold text-gray-800"><%= current_user.name %></dd>
  </div>
  <div class="flex flex-col py-3">
    <dt class="mb-1 text-gray-500 md:text-lg dark:text-gray-400">自己紹介</dt>
    <dd class="text-lg font-semibold text-gray-800"><%= current_user.introduction %></dd>
  </div>
  <div class="flex flex-col py-3">
    <dt class="mb-1 text-gray-500 md:text-lg dark:text-gray-400"></dt>
    </div>
</dl>
