  <h1 class="font-bold text-4xl">Reservations#index</h1>
  <p>Find me in app/views/reservations/index.html.erb</p>

<table class="table-auto text-center">
<thead>
  <tr>
    <th>ホテル画像</th>
    <th>ホテル名</th>
    <th>ホテル紹介</th>
    <th>合計料金</th>
    <th>チェックイン</th>
    <th>チェックアウト</th>
    <th>予約確定日</th>
  </tr>
</thead>
<tbody>
  <% @reservation_rooms.each do |reservation_room| %>
  <% @reservations.each do |reservation| %>

  <tr>
    <td><% if reservation_room.hotel_image? %>
    <%= image_tag reservation_room.class.hotel_image.url, size: '200x200' %>
    <% else %>
    <%= image_tag ("room_default.jpg"), size: '200x200'%>
    <% end %>
    </td>
    <td><%= link_to reservation_room.hotel_name, room_path(reservation_room), class: 'text-blue-700'  %></td>
    <td><%= reservation_room.hotel_introduction %></td>
    <td><p><%= (reservation.check_in - reservation.check_out).to_i.abs * reservation.guest * reservation_room.price %>円</p></td>
    <td><%= reservation.check_in %></td>
    <td><%= reservation.check_out %></td>
    <td><%= reservation.updated_at %></td>
  </tr>
  <% end %>
<% end %>
</tbody>
</table>

