<%= search_form_for @q, url: hotellist_rooms_path(@q) do |f| %>
  <%= f.text_field :address_cont, placeholder: "エリア名を入力" %>
  <%= f.text_field :hotel_name_or_hotel_introduction_cont, placeholder: "キーワード名を入力" %>
  <%= f.submit "検索" %>
<% end %>

<p>検索結果<%= @rooms.count %>件が見つかりました</p>
<% if @rooms.present? %>
<% @rooms.each do |room| %>
<p><%= room.hotel_name %></p>
<p><%= room.address %></p>
<p><%= room.hotel_introduction %>
<p><%= room.price %></p>
<p><% if room.hotel_image? %>
    <%= image_tag room.hotel_image.url, size: '200x200' %>
    <% else %>
    <%= image_tag ("room_default.jpg"), size: '200x200'%>
    <% end %>
</p>
<p><%= link_to '詳細はこちら', room_path(room), class: 'text-blue-700'  %></p>
<% end %>
<% else %>
<p>検索結果は見つかりませんでした</p>
<% end %>



