<%= link_to "戻る", :back %>
<div>
  <h1 class="font-bold text-4xl">Rooms#show</h1>
  <p>Find me in app/views/rooms/show.html.erb</p>
  <p><%= @room.hotel_name %></p>
  <p><%= @room.hotel_introduction %></p>
  <p>
  <% if @room.hotel_image? %>
    <%= image_tag @room.hotel_image.url, class: "m-auto", size: '100x100' %>
    <% else %>
    <%= image_tag ("room_default.jpg"), class: "m-auto", size: '600x600' %>
    <% end %>
  </p>
  <p><%= @room.price %></p>
</div>

<% if user_signed_in? %>
<%= form_with model: Reservation.new, local: true, url: confirm_reservations_path do |f| %>
  <%= f.label :check_in, 'チェックイン' %>
  <%= f.date_field :check_in %>

  <%= f.label :check_out, 'チェックアウト' %>
  <%= f.date_field :check_out %>


  <%= f.label :guest, '宿泊人数' %>
  <%= f.number_field :guest %>

  <%= f.hidden_field :room_id, :value => @room.id %>

  <%= f.submit '予約する' %>
<% end %>
<% else %>
<%= form_with local: true, class: "" do |f| %>
  <%= f.label :check_in, 'チェックイン' %>
  <%= f.date_field :check_in %>

  <%= f.label :check_out, 'チェックアウト' %>
  <%= f.date_field :check_out %>

  <%= f.label :guest, '宿泊人数' %>
  <%_= f.number_field :guest %>

  <%= link_to "ログインする", new_user_session_path, class: "mr-5 hover:text-gray-400" %>
  <% end %>
<% end %>
